[user]
    name = <name>
    email = <email>
[core]
    editor = nvim
[init]
    defaultBranch = main
[color]
    diff = auto
    status = auto
    branch = auto
[push]
    default = upstream
[alias]
    br = branch
    ca = commit --amend -C HEAD
    ci = commit
    cleanup = !git remote prune origin && git gc && git clean -dfx && git stash clear
    co = !git fetch && git checkout
    fp = !git fetch origin && git rebase
    rbi = rebase -i
    st = status
    staged = diff --staged
[commit]
    template = ~/.gitmessage
